{#
/**
 * @file shazbot_issue.html.twig
 * Default theme implementation to present Shazbot issue data.
 *
 * This template is used when viewing Shazbot issue pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_shazbot_issue()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('shazbot_issue') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
